.Navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  &__Left {
    text-decoration: none;
    color: #849cb7;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 3px;
  }
  &__Right {
    display: flex;
    align-items: center;
    &__Search {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 14px;
      color: #849cb7;
      border-bottom: 1px solid #083866;
    }
    &__Btn--LiveView {
      background-color: #3ba433;
      color: white;
      border: none;
      padding: 5px 10px;
      font-size: 9px;
      border-radius: 5px;
      margin-left: 8px;
    }
    &__Btn--Configuration {
      background-color: #39373d;
      color: white;
      border: none;
      padding: 5px 10px;
      font-size: 9px;
      border-radius: 5px;
      margin-left: 8px;
    }
  }
}
