<div class="Home">
  <app-widget title="Status">
    <app-home-datatable [dataTable]="statusDataTable"></app-home-datatable>
  </app-widget>
  <app-widget title="Activity">
    <app-home-datatable [dataTable]="activityDataTable"></app-home-datatable>
  </app-widget>
  <app-widget title="Active Alarms">
    <app-home-chart [dataChart]="activeAlarms"></app-home-chart>
  </app-widget>
  <app-widget title="Open Tickets">
    <app-home-chart [dataChart]="activeAlarms"></app-home-chart>
  </app-widget>
</div>
