:host {
  flex: 1;
  overflow: hidden;
  .Home {
    height: 100%;
    app-widget {
      width: 50%;
      height: 50%;
      float: left;
      padding: 7px;
      box-sizing: border-box;
      /deep/ .Widget {
        height: 100%;
      }
    }
  }
}
